.portfolio-container {
  display: grid;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  height: 100vh;
  max-height: 1080px;
  width: 100%;
}

.portfolio-card {
  position: absolute;
  display: grid;
  height: 50%;
  width: 45%;
  border-radius: 8px;
}

.portfolio-img {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.app-links {
  display: grid;
  position: absolute;
  height: 100%;
  width: 100%;
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  text-decoration: none;
  opacity: 0;
  cursor: pointer;
  transition: all 0.25s ease-in;
}

.app-links:hover {
  opacity: 1;
}

.app-links p {
  justify-self: center;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  padding: 1rem 1.5rem;
  transition: all 0.25s ease-in;
}

.app-links p:hover {
  transform: scale(1.1);
}

.controls {
  position: relative;
  grid-row: 2 / 3;
  top: 2rem;
  color: rgb(255, 255, 255);
}

.controls svg {
  height: auto;
  width: 3rem;
  margin: 0.5rem;
  cursor: pointer;
  stroke: rgb(0, 0, 0);
  stroke-width: 0;
  transition: all 0.25s ease-in;
}

.controls svg:hover {
  fill: rgb(0, 0, 0);
  stroke: rgb(255, 255, 255);
  stroke-width: 0.7;
}
