.about-container {
  position: relative;
  display: grid;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  justify-self: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  height: 100vh;
  width: 90%;
  max-height: 1080px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.about {
  text-shadow: 2px 1px 1px black;
}
