.background {
  position: fixed;
  width: 100vw;
  height: 200vh;
  max-width: 1920px;
  z-index: -1;
}

@media screen and (max-width: 576px) {
    .background {
      height: 160vh;
      width: auto;
    }
}